@mixin dark {
  --background-color: #{$grey-900};

  // Primary colors
  --primary: #{$primary-500};
  --primary-hover: #{$primary-400};
  --primary-focus: #{rgba($primary-500, 0.25)};

  // Highlighted text (<mark>)
  --mark-color: #{$grey-900};

  // Form elements
  --form-element-background-color: #{$grey-900};

  button,
  input[type='submit'],
  input[type='button'],
  input[type='reset'],
  [role='button'] {
    --color: #{$black};
  }
}

@mixin light {
  // Primary colors
  --primary: #{$primary-700};
  --primary-hover: #{$primary-800};
  --primary-focus: #{rgba($primary-700, 0.25)};
}
