.unstyled {
  all: unset;
}

.cursor-pointer {
  cursor: pointer;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  border: 0;
  clip: rect(0, 0, 0, 0);
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
