$blue-400: #41c1ec;
$blue-500: #19b3e6;
$blue-600: #1095c1;
$blue-700: #08769b;
$blue-800: #035772;
$blue-900: #00394d;

$grey-600: #6c757d;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;

$primary: $blue-600;
$primary-400: $blue-400;
$primary-500: $blue-500;
$primary-600: $blue-600;
$primary-700: $blue-700;
$primary-800: $blue-800;
$primary-900: $blue-900;
